body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  min-height: 100vh;
  background: #fff;
}
.barra-superior-preta {
    background-color: #000000;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #333;
}

.container-logo-topo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.circulo-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    overflow: hidden;
}

.logo-imagem {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.texto-ao-lado-topo {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.h2_1{
  color: #726ab7;
}
.botao-voltar {
  margin-left: 90%;
  border-radius: 5px;
    /* Cores e Texto */
  background-color: #000000;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;

  padding: 10px 20px;
  border: 2px solid #333333;
  border-radius: 25px;
    
  cursor: pointer;
  outline: none;
}
.input-container {
    background-color: #E8E8E8;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.icon {
    font-size: 20px;
    margin-right: 10px;
    color: #000000;
}

.label {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    margin-right: 10px;
}

.custom-input {
    flex-grow: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 0;
}

.custom-input:focus {
    outline: none;
}

.gps-input-container {
    background-color: #E8E8E8;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.gps-input-container {
    background-color: #E8E8E8;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: fit-content; 
}


.gps-label {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.gps-input {
    flex-grow: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 0 0 0 5px;
    min-width: 50px;
    outline: none;
}

.gps-icon-fa {
    font-size: 20px;
    margin-right: 8px;
    color: #000000;
}

.horario-input-container {
    background-color: #E8E8E8;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.horario-icon-fa {
    font-size: 20px;
    margin-right: 8px;
    color: #333;
}

.horario-label {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.horario-input {
    flex-grow: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 0 0 0 5px;
    min-width: 50px;
}

.horario-input:focus {
    outline: none;
}

.busca-input-container {
    background-color: #E8E8E8;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.busca-icon-fa {
    font-size: 20px;
    margin-right: 8px;
    color: #000000;
}

.busca-label {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.busca-input {
    flex-grow: 1;            
    border: none;            
    background: transparent; 
    font-size: 16px;
    padding: 0 0 0 5px;
    min-width: 50px;
}

.busca-input:focus {
    outline: none;
}