* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: italic;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

header img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;


  margin-left: 10px;
}

.voltar {
  color: #fff;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  width: 100%;
  font-size: 2.4rem;
  margin-top: 30px;
  margin-left: 100px;
  font-style: italic;
  font-weight: 700;
}

.form-box {
  width: 80%;
  max-width: 650px;
  background: #000;
  padding: 28px;
  border-radius: 22px;
  margin-top: 20px;
  color: #fff;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px 0;
}

.label {
  font-size: 1rem;
  font-weight: 600;
  width: 40%;
}

.input-area {
  background: #fff;
  color: #000;
  width: 55%;
  border-radius: 18px;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  font-weight: 600;
  font-size: 0.95rem;
  font-style: italic;
}

.input-area i {
  margin-right: 8px;
}