* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 12px 24px;
  font-weight: 600;
  letter-spacing: 1px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

header img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.voltar-link {
  color: #fff;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
  font-size: 0.95rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.voltar-link:hover {
  opacity: 0.7;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
  width: 100%;
  max-width: 900px;
  background: #fff;
  margin-top: 40px;
  margin-left: 40px;
}

.titles-left {
  grid-column: 1 / 2;
  margin-bottom: 5px;
}

.ver-seus {
  color: #5e5eae;
  font-weight: 700;
  font-style: italic;
  font-size: 1rem;
}

.itens {
  color: #8c8caf;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  margin-left: 4px;
}

h2.title-main {
  grid-column: 1 / 3;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: -50px;
  margin-bottom: 20px;
  color: #000000;
  line-height: 1.2;
}

.blue-dark {
  color: #000000;
}

.blue-light {
  color: #000000;
  font-size: 2.5rem;
  display: inline-block;
}

.left-column,
.right-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-column {
  grid-column: 1 / 2;
}

.right-fields {
  grid-column: 2 / 3;
}

.input-icon {
  position: relative;
  width: 100%;
}

.input-icon i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  opacity: 0.7;
  font-size: 1rem;
}

.input-icon input {
  width: 100%;
  padding: 10px 10px 10px 36px;
  border-radius: 18px;
  border: none;
  background-color: #d9d9d9;
  outline: none;
  font-style: italic;
  color: #000;
  font-weight: 700;
  font-size: 0.9rem;
}

.input-icon input::placeholder {
  color: #000;
  font-weight: 700;
}

.bottom-text {
  font-style: italic;
  margin-top: 80px;
  font-weight: 500;
}

.cadastro-de-itens {
  color: #5e5eae;
  font-weight: 700;
}

.encontrados {
  color: #5e5eae;
  font-weight: 1000;
}