.botao-voltar {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 1.1em;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    margin-left: 90%;
}

.botao-voltar:hover {
    background-color: #1a1a1a;
}