.back-button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 10px 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url("../../assets/icons/back-arrow.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
    transition: all 0.25s ease;
    margin-left: 90%;
}

.back-button:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    background-position: 6px center;
}
.back-button:active {
    transform: translateY(0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-position: 10px center;
}

/* Componentes Otávio cpc */
/* Input Buscar Usuário */
.busca-input-container {
    display: flex; 
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 30px;
    padding: 10px 20px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
}

.busca-input-container .busca-icon-fa {
    font-size: 1.2em;
    color: #000000;
    margin-right: 8px;
}

.busca-input-container .busca-label {
    font-size: 1em; 
    font-weight: bold;
    color: #000000;
    margin-right: 5px;
    white-space: nowrap;
}

.busca-input-container .busca-input {
    flex-grow: 1;
    border: none; 
    background: transparent; 
    outline: none;
    padding: 0;
    font-size: 1em;
    color: #333333;
}
/* Input Endereço */
.input-container {
    display: flex;
    align-items: center;
    
    background-color: #e0e0e0;
    border-radius: 30px;
    padding: 10px 20px;
    
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
}

.input-container .icon {
    font-size: 1.2em;
    color: #000000;
    margin-right: 8px;
    font-family: 'Arial', sans-serif; 
    font-weight: normal;
}

.input-container .label {
    font-size: 1em;
    font-weight: bold;
    color: #000000;
    margin-right: 5px;
    white-space: nowrap;
}

.input-container .custom-input {
    flex-grow: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    font-size: 1em;
    color: #333333;
}

.input-container .custom-input::placeholder {
    color: #888888;
}
/* Input Horário de Trablho */
.horario-input-container {
    display: flex; 
    align-items: center;
    
    background-color: #e0e0e0;
    border-radius: 30px;
    padding: 10px 20px;
    
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
}
.horario-input-container .horario-icon-fa {
    font-size: 1.2em;
    color: #000000;
    margin-right: 8px;
}
.horario-input-container .horario-label {
    font-size: 1em; 
    font-weight: bold;
    color: #000000;
    margin-right: 5px;
    white-space: nowrap; 
}
.horario-input-container .horario-input {
    flex-grow: 1;
    border: none; 
    background: transparent; 
    outline: none;
    padding: 0;
    font-size: 1em;
    color: #333333;
}
 /* Input Localização(GPS) */
 .gps-input-container {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 30px;
    padding: 10px 20px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
}
.gps-input-container .gps-icon-fa {
    font-size: 1.2em; 
    color: #000000;
    margin-right: 8px;
}
.gps-input-container .gps-label {
    font-size: 1em;
    font-weight: bold;
    color: #000000;
    margin-right: 5px;
    white-space: nowrap;
}

.gps-input-container .gps-input {
    flex-grow: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 0;
    font-size: 1em;
    color: #333333;
}

/* Componentes Otávio Meus Itens */
/* Estilização dosS Campos de texto / data */

.info-field {
    background-color: #808080;
    border-radius: 20px;
    margin-bottom: 8px;
    width: 100%; 
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    height: 38px;
}

.info-field textarea,
.info-field input {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-style: italic; 
    width: 100%;
    box-sizing: border-box;
    padding: 8px 15px; 
    resize: none;
    outline: none;
    height: 100%;
}

.info-field textarea::placeholder,
.info-field input::placeholder {
    color: #ffffff;
    opacity: 1;
}

/* Perdido */
.item-details p {
    color: #DB4437;
    font-size: 20px; 
    font-weight: bold;
    margin: 5px 0 0 0;
    align-self: flex-end; 
}

.form{
    margin-left: 84%;
}